body{
    text-align:center;
    background-image:  linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}
div{
    height: 250px;
    border: 10px solid black; width: 300px;
    margin:auto;
    background-color: aqua(231,255,255);
}